@tailwind base;
@tailwind components;
@tailwind utilities;

#category-img img{
    height: 256px;
    width: 100%;
}


.content .left::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;

}

.feedback-item{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-shadow: 0 5px 20px 5px rgba(163, 163, 163, 0);
    display: none;
}

.feedback-active-btn{
    background-color: #f97316;
}

/* JS related */
#feedback-display{
    color: white;
    background-color: #f97316;
    display: block;
}
@media (max-width:1023px){
    .content .left::before{
        display: none;
    }
}
@media (min-width: 1024px){
    #feedback-display{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
    .feedback-item:first-child,
    .feedback-item:last-child{
        top: 162px;
        position: absolute;
    }
    .feedback-item:first-child{
        left: 0;
    }
    .feedback-item:last-child{
        right: 0;
    }
}

@media (max-width: 767px){
    
.feedback-item{
    height: 702px;
}

.client {
    transform: translateX(-20%, -78%);
}
}